@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
        Layout = "/Views/Shared/_Layout.cshtml";
}

@*<h1>@ViewData["Title"]</h1>*@
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        </body>
<partial name="_StatusMessage" model="Model.StatusMessage" />
