@page
@model ForgotPasswordConfirmation
@{
    //ViewData["Title"] = "Forgot password confirmation";
            Layout = "/Views/Shared/_LayoutAccounts.cshtml";
}

@*<h1>@ViewData["Title"]</h1>*@
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
<p>
    Please check your email to reset your password.
</p>
</body>